/*===ALL QUESTIONS====*/
.allQ {
	border-style: ridge;
	border-width: 1%;
	text-align: center;
}

.category {
	width: 16% !important;
	padding: 3% !important;
}

/*====INDIVIDUAL QUESTION==== */
.oneQ {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	text-align: center;
	/*centers vertically*/
	margin-top: 20%;
	padding: 10%;
}

.qText {
	font-size: 30px
}

.answered {
	color: red;
}