/*BODY AND PAGE STYLING */

body {
	background-color: white;
	color: white;
}

/*=====HOMEPAGE========*/

.homepage {
	color: black;
	margin-top:18%;
}

.title {
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*width:10%;*/
	padding-left:25% !important;
}

.btn {
	margin-left: auto;
	margin-right: auto;
	width:25%;
	display: inline-block;
	margin-left: 20%;
}

.rightBtn {
	margin-left: 3%;
}
/*===ALL QUESTIONS====*/
.allQ {
	border-style: ridge;
	border-width: 1%;
	text-align: center;
	border-color: black;
}

.category {
	width: 16.666666667% !important;
	padding: 3% !important;
	background-color: #CE1D25;
	margin-bottom: -1%;
}

.category h3 {
	font-size: 1.3em;
	font-weight: bold;
}

.pointVal {
	margin-bottom: -1.5%;
	background-color: #CE1D25
}

.pointVal p {
	font-size: 2em;
	padding: 2%;
}

/*====INDIVIDUAL QUESTION==== */
.oneQ {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	text-align: center;
	/*centers vertically*/
	margin-top: 20%;
	padding: 10%;
	background-color: #CE1D25;
}

.qText {
	font-size: 30px;
}

.answered {
	color: red;
}